<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Blog Spot</title>
 
</head>

<body>
    <header>
        <h1>Welcome to The Blog Spot</h1>
    </header>

    <main>
        <section>
            <h2>Latest Posts</h2>
            <ul>
            {{#each posts}}
  <div class="post-container">
    <h3>{{dataValues.title}}</h3>
    <p>{{dataValues.description}}</p>
    <p><span class="date">Created on: {{dataValues.date_created}}</span></p>
  </div>
{{/each}}


        </section>
    </main>

    <footer>
        <p>&copy; 2023 My Tech Blog</p>
    </footer>
</body>

</html>
